<script src="/ajax.js"></script>
<head>
    <meta charset="utf-8"> 
    <title>Movie Database</title>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
</head>
<body >
    <div class = "container">
        <h1><a href="../img/why.jpg">Movie Database</a></h1>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                <ul class="nav">
                    <li class="active"><a href="/movies">Search</a></li>
                    <li><a href="/alphabetical.html">A-Z Movies Wiki</a></li>
                    
                </ul>
                </div>
            </div>
        </div>

        <div class="hero-unit" style ="background-image: url('../img/film.jpg');">
            <div class = "pagination-centered">
                <p>Search Database for Movie by Title:</p>
                <div class = "form-group">
                    <input class="form-control" type="text" id = "search_params" placeholder="e.g. 'Lord of the Rings'">        
                    <input type="submit" class="btn-success btn-small" onclick = "search()" value = "Search"/>
                </div>
            </div>
                
        </div>

        <div class="row" style ="background-image: url('../img/dynamic.jpg');">
            <div class="span7">
                <p id = "poster" class = "pagination-centered"></p>
            </div>
            <div class="span5">
                <p id = "info"></p>
            </div>
        </div>





    </div>





    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
<!-- </html> -->